*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    background-color: #121212;
    font-family: 'Raleway';
}

header{
    height: 100vh;
    background: url('./resources/img/Clarence.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;   
}

nav{
    width: 100%;
    height: 80px;
    
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li{
    background-color: #121212;
    padding: .5rem 1rem;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 1.5rem;
    
}

nav ul li:hover{
    animation:dropbox .5s;
    animation-fill-mode: forwards;
}

nav ul li:not( :hover){
    animation:raisebox .5s;
    animation-fill-mode: forwards;
}

@keyframes dropbox {
    0%{ margin-top: 0; padding-top: 1.5rem;  border: 1px solid white;}
    100%{margin-top: 1rem; padding-top: .5rem; border: 1px solid white;}
}

@keyframes raise {
    0%{margin-top: 1rem; padding-top: .5rem; border: 1px solid white;}
    100%{ margin-top: 0; padding-top: 1.5rem;  border: 1px solid white;}
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}


.header{
    margin-top: 10vh;
    background-color: #121212;
    width: 60vw;
    height: 50%;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    padding: 1rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1{
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: .6rem;
}

.header h2{
    font-weight: 2rem;
    letter-spacing: 2px;
}

.myname{
    color: #B2CD0D;
    margin-left: 2px;
    font-size: 2rem;
}

section{
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.title-section{
    min-width: 25%;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.title-section h2{
    transform: rotate(-90deg);
    font-size: 4rem;  
}

.content{
    padding-top: 70px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 3rem;
}



.background-box{
    background: url('./resources/img/Clarence.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.portafolio{
   
    width: 90%;
    height: 90%;
    background-color: #121212;
}

.cards{
    width: 100%;
    height: 100%;
    display: grid;
    padding: 1rem;
    gap: 10px;
    grid-template-columns: auto auto auto;
}

.card{
    background-color: white;
    color: #121212;
    border-bottom: 5px solid #B2CD0D;
    position: relative;
}

.card:first-child{
    background: url('cardimg1.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card:nth-child(2){
    background: url('cardimg2.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card:hover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(178,205,13, .2),rgba(178,205,13, .7), rgba(178,205,13, .9) );
    cursor: pointer;
}

.Contact-Me{
    min-height: 100vh;
    padding: 5rem;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 1rem auto;
    
}

.contact-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact-content h1{
    font-size: 6rem;
    text-align: center;
}

.contact-illu{
    flex: 1;
    position: relative;
}

.contact-illu img{
    max-width: 800px;
    width: 100%;
    height: auto;
}

.contact-me-here{
   margin: 3rem 0;
}

.btn{
    background-color: #B2CD0D;
    padding: 1.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #121212;
    font-weight: 800;

}

.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#F8FDD8 0%,#B2CD0D 10%, #667406 50%, #444E04 100% );
    transform: rotate(45deg);
    filter: blur(1px);
    position: absolute;
}

.two{
    transform: rotate(100deg);
    top: 25%;
}

.three{
    transform: rotate(-120deg);
    top: 2%;
    left: 40%;
}

.one{
    top: 70%;
    right: 10%;
}

.four{
    left: -10%;
}

.miniball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(#F8FDD8 0%,#B2CD0D 10%, #667406 50%, #444E04 100% );
    transform: rotate(45deg);
    filter: blur(1px);
    position: absolute;
}

.mtwo{
    transform: rotate(100deg);
    top: 15%;
    left: 30%;
}

.mthree{
    top: 70%;
    left: -10%;
}

.mfour{
    top: 0;
    right: 2%;
}

.mfive{
    bottom: 7%;
    right: 20%;
}

footer{
    background-color: #B2CD0D;
    padding: 3rem 4rem;
    font-weight: 800;
}

.aboutContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about{
    display: flex;
    gap: 30px;
    max-width: 90%;
    margin: auto;
  
    align-items: center;
    justify-content: center;
    
 }
 
 .about .pic img{
    min-width: 400px;
    width: 100%;
    height: auto;
}
 .about .description h3{
     font-size: 4rem;
     margin-bottom: 1rem;
 } 
 
 .about .description .text{
     display: flex;
     font-size: 0.9rem;
 }
 
 .about .description .text p{
     flex:1;
     font-size: 1rem;
 }
 
 .about .description .professional-list{
     display: flex;
     column-gap: 20px;
    
 }
 
 .about .description .professional-list .list-item h3{
     font-size: 1.9rem;
     font-weight: 700;
 }
 
 .about .description .professional-list .list-item span{
     color: var(--dark-color);
    margin-top: -5px;
 }
 
 ul{
     list-style: none;
 }



 /*Media Queries */
/**** DESKTOPS DESIGN ****/

  @media only screen and (max-width: 1600px) {


    .about .description h3{
        font-size: 3rem;
        margin-bottom: 1rem;
    } 

    .about .description .text p{
        flex:1;
        font-size: .95rem;
    }

    .btn{
        font-size: .8rem;
        padding: .5rem 1rem;
    }

    .contact-illu{
        flex: 1;
        width: 40%;
        position: relative;
    }

  }

  @media only screen and (max-width: 1200px) {


    .about .description h3{
        font-size: 2.5rem;
        margin-bottom: .9rem;
    } 

    .about .description .text p{
        flex:1;
        font-size: .85rem;
    }

    .btn{
        font-size: .8rem;
        padding: .5rem 1rem;
    }

    .contact-illu{
        flex: 1;
        width: 40%;
        position: relative;
    }

    .about .pic img{
        min-width: 350px;
    }

    .title-section h2{
        font-size: 3rem;  
    }

    .contact-content h1{
        font-size: 4rem;
    }

    .miniball{
        width: 40px;
        height: 40px;
        
    }

    .ball{
        width: 80px;
        height: 80px;
    }

    .header h1{
        
        font-size: 4rem;
    }
    
  }


  /*** TABLETS DESIGNS ***/




  @media only screen and (max-width: 998px) {


    .about .description h3{
        font-size: 2rem;
        margin-bottom: .9rem;
    } 

    .about .description .text p{
        flex:1;
        font-size: .75rem;
    }

    .btn{
        font-size: .8rem;
        padding: .5rem 1rem;
    }

    .contact-illu{
        flex: 1;
        width: 40%;
        position: relative;
    }

    .about .pic img{
        min-width: 250px;
    }

    .title-section h2{
        font-size: 3rem;  
    }

    .contact-content h1{
        font-size: 3.5rem;
    }

    .miniball{
        width: 40px;
        height: 40px;
        
    }

    .ball{
        width: 80px;
        height: 80px;
    }

    .header h1{
        
        font-size: 3rem;
    }
    
  }

/*** PHONE DESIGN ***/

@media only screen and (max-width: 768) {
    
}

/***EXTRA SMALL DEVICE ***/


@media only screen and (max-width: 600px) {
    
}
